body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: $black2;

	&.locked {
		overflow: hidden;
	}
}

.container {
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;

	@media (max-width: $breakpoint1450) {
		max-width: 1200px;
	}

	@media (max-width: $breakpoint1200) {
		padding: 0 $containerSidePadding + px;
	}

	@media (max-width: $breakpoint992) {
		max-width: 970px;
	}

	@media (max-width: $breakpoint768) {
		max-width: 740px;
	}

	@media (max-width: $breakpoint480) {
		max-width: none;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	color: $white;
	padding: 14px 30px;
	background-color: $primary;
	border-radius: 5px;
}

.title {
	@extend %fontFamily2;
	font-size: 44px;
	line-height: 1.3;
}

.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	padding: 0;
	font-size: 0;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	background-color: rgba(238, 85, 20, 0.1);
	cursor: pointer;
}

.slick-dots {
	display: flex;
	position: absolute;
	bottom: 190px;
	left: 0;
	justify-content: center;
	width: 100%;
	li {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	button {
		border: none;
		font-size: 0;
		padding: 0;
		background-color: $primary;
		padding: 10px;
		border-radius: 50%;
		opacity: 0.5;
	}
}

.slick-active {
	button {
		opacity: 1;
	}
}

// Animations
// Fade
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
