<section class="video">
	<div class="container">
		<div class="video__inner">
			<div class="video__left">
				<span>VIDEO</span>
				<h2 class="title video__title">Desire the feel of satisfaction.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.</p>
			</div>

			<div class="video__right">
				<a class="video__link" href="#"
					style="background-image: url('../../images/video/video-bg.jpg'); backdrop-filter: blur(10px);">
					<div class="video__img-block">
						<img class="video__img" src="../../images/video/video-hover.jpg" alt="девушка">
					</div>
				</a>
			</div>
		</div>
	</div>
</section>